name: Rust
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y gcc-multilib wget gnupg software-properties-common git libbpf-dev
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 20 all
        sudo update-alternatives --install /usr/bin/clang clang /usr/lib/llvm-20/bin/clang 100
        sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/lib/llvm-20/bin/clang++ 100
        sudo update-alternatives --set clang /usr/lib/llvm-20/bin/clang
        sudo update-alternatives --set clang++ /usr/lib/llvm-20/bin/clang++
        sudo update-alternatives --install /usr/bin/llvm-strip llvm-strip /usr/lib/llvm-20/bin/llvm-strip 100
        sudo update-alternatives --set llvm-strip /usr/lib/llvm-20/bin/llvm-strip
    - name: Build
      run: |
        chmod +x build.sh
        ./build.sh
    - name: Upload xdp_loader artifact
      uses: actions/upload-artifact@v4
      with:
        name: xdp_loader
        path: ./target/release/xdp-loader
